a:visited {
    color: black;
}
a:hover {
    color: red;
}

/* button:hover {
    display: none;
} */

/* li:first-child {
    background-color: pink;
}

li:last-child {
    background-color: aquamarine;
}
li:nth-child(3) {
    background-color: burlywood;
} */

ul {
    list-style: none;
}
.breadcrumbs {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.breadcrumbs li::before {
    content: '/';
    padding: 0 7px;
}
.breadcrumbs li::after {
    content: '*';
    padding: 0 7px;
}
button {
    padding: 25px 35px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
    background-color: yellow;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover {
    background-color: orange;
}